<body class = "silver">
  <div class = "container">
    <div class = "row top">
      <div class = "col-xs-12">
        
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
 

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <h3 class = "text-center stylish">OVER 40 PROGRAMS TO CHOOSE FROM</h3>
    </div>

    <div class="item">
      <h3 class = "text-center stylish">SPANNING 4 CONTINENTS AND 17 COUNTRIES</h3>
    </div>

    <div class="item">
      <h3 class = "text-center stylish">PESACH MADE EASY</h3>
    </div>

    <div class="item">
      <h3 class = "text-center stylish">THE ONLY SITE YOU NEED TO MAKE YOUR DECISION</h3>
    </div>
  </div>
</div>
<!--end of carasoul-->

      </div>
    </div>
    <div class = "row undertop">
     <h1 class = "text-center fontcurs">Pesach Hotel Directory</h1>
    </div>
    <div class = "row">
    <div class = "col-xs-12 bgimage">
      <div id = "right">
      <h2 class = "whitefont lobster tight">IT'S NEVER BEEN EASIER</h2>
      <h2 class = "whitefont lobster">TO CHOOSE A HOTEL</h2>
      <button class = "btn whitefontonly">GET STARTED</button>
      </div>
      
    </div>
    </div>
    <div class = "row">
    <div class = "col-xs-3">
    </div>
    <div class = "col-xs-3">
    </div>
    <div class = "col-xs-3">
    </div>

    </div>


  </div>

