<div class = "container-fluid">
  <div class = "row">
  <div id = "toptop" class = "col-xs-12">
    <h1 class = "text-center squeeze lobster">Pesach Hotel Directory</h1>
    <h3 class = "text-center squeeze">An Easy Pesach Just Got Even Easier!</h3>
  </div>
  </div>
  <div class = "row silver">
  <div class = "col-xs-12">
    <h1 class = "text-center indiefont">Step 1: Select Country of Interest</h1>
  </div>
  </div>
  </div>
  <div class = "container">
  <div class ="row gold space">
  <div class ="col-xs-6 col-md-4">
  <img class = "picsize img-responsive pic" src = "pictures/northamerica.jpg">
  <h2 class = "text-center curse bg"><a href = "north-america.html">North America</a></h2>
  </div>
  <div class = "col-xs-6 col-md-4">
  <img class = "picsize img-responsive pic" src = "pictures/southamerica.jpg">
  <h2 class = "text-center curse bg">South America</h2>
  </div>
  <div class = "col-xs-6 col-md-4">
  <img class = "picsize img-responsive pic" src = "pictures/canada.jpg">
  <h2 class = "text-center curse bg">Canada</h2>
  </div>
  </div>
  <div class ="row gold space">
  <div class ="col-xs-6 col-md-4">
  <img class = "picsize img-responsive" src = "pictures/israel.jpg">
  <h2 class = "text-center curse bg">Israel</h2>
  </div>
  <div class = "col-xs-6 col-md-4">
  <img class = "picsize img-responsive" src = "pictures/europe.jpg">
  <h2 class = "text-center curse bg">Europe</h2>
  </div>
  <div class = "col-xs-6 col-md-4">
  <img class = "picsize img-responsive" src = "pictures/australia.jpg">
  <h2 class = "text-center curse bg">Australia</h2>
  </div>
  </div>
  </div>
  <div class = "container-fluid">
  <div class = "row silver">
  <div class = "col-xs-12">
    <blockquote class = "quote text-center">
      "There's never a better time to explore the world."
        <small>
          Avrohom Luban
        </small>
    </blockquote>
  </div>
  </div>




    </div>