.top {background-color: #928D59;
      margin-top: 0px;}
.undertop {background-color: #E7D62D
          }
.navtop {color:white;
      font-size: 17px;
      margin-top:25px;}
.logo {height: 75px;
      width: 65px;}
.glyph {color:white;
      font-size:30px;
      padding-right: 20px;
      padding-top: 20px;}
.mainpic {width:1325px;
          height: 350px;}
.pinkpic {width: 870px;
          height: 300px;
          padding-top:25px;}
.silver {background-color: silver;}
.lower {margin-top: 135px;
        padding-left: 90px;}
.space {margin-left: 30px;}
.white {background-color: white;
      margin-top: 0;}
#page-wrap {
     width: 1200px;
     margin: 0 auto;
.fontcurs {font-family: 'Dancing Script', cursive;}
}
.fontcurs {font-family: 'Dancing Script', cursive;}
.stylish {font-family: 'Satisfy', cursive;}
.down {margin-top: 10px;}
.bgimage {background-image: url("hotel.jpg")
      }
#right {margin-left: 750px;
        margin-top: 360px;
        margin-bottom: 25px;}
.whitefont {color: white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
.indiefont {font-family: 'Indie Flower', cursive;;}
.tight {margin-bottom:-10px;}
.lobster {font-family: 'Lobster', cursive;}
.whitefontonly {color:white;}
// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
